aside, section {
    float: left;
    margin-left: auto;

}

aside {
    width: 28%; 
    padding: 20px;  
    background-color: var(--soaring-eagle);
    border: 1px solid var(--deep-blue);;
    margin: 25px 0 25px 0;
    border-radius: 4px;
    
    & > ul {
        list-style: none;
        margin: auto 20px;
        padding-left: 20px;

        & > li {
            margin-bottom: 10px;
            list-style-type: "→";

            & > a {
                color: var(--deep-cove);
                padding: 6px 10px;
                display: block;
                text-decoration: none;

                &:hover {
                    color: var(--hint-of-ice-pack);
                    border-right: 1px solid var(--deep-blue);
                }
            }
        }
    
    }
   
}
