:root {
    --coastal-breeze: #dff9fb;
    --hint-of-ice-pack: #c7ecee;
    --soaring-eagle: #95afc0;
    --wizard-grey: #535c68;
    --middle-blue: #7ed6df;
    --greenland-green: #22a6b3;
    --black-grey: #1e272e;
    --deep-blue: #3c40c6;
    --deep-cove: #130f40;

    --box-size: 800px;

    --bg-color: var( --coastal-breeze);
    --text-color: var(--black-greey);
    --body-color: var(--soaring-eagle);
    --link-color: var(--greenland-green);
    --link-color-hover: var(--middle-blue);
    --logo-color: var(--deep-blue);
}